:root {
    --padding: .5rem .75rem;
    --border-radius: .5rem;
    --primary-color: #0f76d7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #272727;
    color: #b3b3b3;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

main {
    margin: 2rem auto;
    padding: 0 1rem;
    max-width: calc(600px + 2rem);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;

    label {
        margin-bottom: .5rem;
    }
}

#result .result-info,
.form-control {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid #363636;
    background-color: #1a1a1a;
    color: #b3b3b3;
    font-size: 1rem;
    width: 100%;
}

.input-group {
    display: flex;
    width: 100%;

    .form-control:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: unset;
    }

    .form-control:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: unset;
    }

    .input-group-append,
    .input-group-prepend {
        border: 1px solid #363636;
        background-color: #363636;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--padding);
    }

    .input-group-prepend {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .input-group-append {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}

.btn {
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: unset;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.125rem;
    width: 100%;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;

    .col-6 {
        max-width: 100%;
        width: 50%;
        padding: 0 .625rem
    }
}

#result {
    margin-top: 1rem;

    .result-info::before {
        content: 'Attack: ';
    }
}

.hidden {
    display: none;
}

.badge {
    margin-bottom: 2rem;
}

@media (max-width: 400px) {
    .flex .col-6 {
        width: 100%;
    }
}
